/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-load-more {
  font-size: 24px;
  padding: 8px;
  display: none;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.form *{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  max-width: 1128px;
  margin-top: 20px;
}

.gallery li {
  width: calc((100% - 48px) / 3);
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.gallery img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.info-container {
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
}

.info {
  text-align: center;
  font-size: 16px;
}

.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #FF3D00 #FF3D00 transparent #FF3D00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: none;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #FF3D00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}